[submodule "GENE_ML"]
	path = GENE_ML
	url = https://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@github.com/DanHarJor/GENE_ML
[submodule "SGPP_testing/sensitivity-driven-sparse-grid-approx"]
	path = SGPP_testing/sensitivity-driven-sparse-grid-approx
	url = git@github.com:ionutfarcas/sensitivity-driven-sparse-grid-approx.git
[submodule "SGPP_testing/enchanted-surrogates"]
	path = SGPP_testing/enchanted-surrogates
	url = git@github.com:DIGIfusion/enchanted-surrogates.git
